@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
    <title> Euphoria </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-color: #a8a7a7;
        }
        .form-box {
            width: 380px;
            height: 480px;
            position: relative;
            margin: 6% auto;
            background: #ffffff;
            padding: 5px;
            overflow: hidden;
        }
        .input-group {
            top: 50px;
            position: absolute;
            width: 280px;
        }
        .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 10px 0;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }
        .submit-btn {
            width: 50%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin: auto;
            background: #49cbda;
            border: 0;
            outline: none;
        }
        #search_form {
            left: 50px;
        }
        h1 {
            margin: 0;
            padding: 0;
            background-color: #49cbda;
            color: white;
            font-size: 50px;
            text-align: left;
            padding: 20px;
            font-family: 'Finger Paint';
        }
        h2 {
            margin: 0;
            padding: 0;
            background-color: #49cbda;
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 20px;
            font-family: 'Finger Paint';
        }
        header {          
            position: fixed; 
            right: 0;
            top:40px;
            display: flex;
            font-size:20px;           
        }
        header * {
            display: inline;
        }
        header li {
            margin: 20px;
        }
        header li a {
            color: white;
            text-decoration: none;
        }  
    </style>
</head>
<body BGCOLOR="#eeeeee">
    <h1>
        Euphoria
        <header>
            <nav>
                <ul>
                    <li>
                        <a> @Html.ActionLink("Home page", "welcome", "User") </a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Search user", "Search", "User") </a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Upload Image", "imageupload", "Image") </a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Log out", "Login", "User") </a>
                    </li>
                </ul>
            </nav>
        </header>
    </h1>   
    <br /><br />
    <h2>Welcome @Session["username"]</h2>
</body>
</html>

